<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/teamvsteam.css">
    <title>Team vs Team</title>
    <link rel="icon" href="../static/uploads/logo.ico" type="image/png">

</head>
<body>

    <nav>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="/profile">Home</a>
    </nav>
    

    <header>
        <h1>Team Information</h1>
    </header>

    <form action="/teamvteam" method="get">
        <h2>Select Team</h2>

        <div class="form-group">
            <label for="team1">Team</label>
            <select id="team1" name="team1">
                <!-- Add options for Team 1 -->
                {% for item in teams %}
                    <option>{{ item }}</option>
                {% endfor %}
                <!-- Add more options as needed -->
            </select>
        </div>
        <button type="submit" value="Find Track Record">Submit</button>
    </form>
    <div>
        <br>
        
        {% if result %}
        <h1 class='my_hed'>RESULTS :-</h1>
            {% for i in result %}
                <p>{{ i }} : {{ result[i] }}</p>
            {% endfor %}
            <h1 class='my_hed'>--THANKYOU--</h1>
        {% endif %}
    </div>

    <br>
    <br>
    <br>

    <footer>
        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=100021945492319" target="_blank" class="social-link"><img src="../static/uploads/fb.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com/__ranveer0__/?hl=en" target="_blank" class="social-link"><img src="../static/uploads/insta.svg" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/ranveer-kumar-12050a247/" target="_blank" class="social-link"><img src="../static/uploads/linkedin.svg" alt="LinkedIn"></a>
            <a href="https://github.com/veer-debug" target="_blank" class="social-link"><img src="../static/uploads/github.svg" alt="GitHub"></a>
        </div>

        <p> 2024 Cricket Metrics. All rights reserved.</p>
    </footer>



</body>
</html>
